<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">    
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    {{>error_message}}
    </div>
    {{>footer}}
</body>

</html>